body {
  margin: 0;
  padding: 0;

  font-family: "Noto Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: #292929;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 45px;
}

.logo {
  position: absolute;
}

.header-wrapper {
  margin-left: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 800px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0px;
  margin-bottom: 25px;
  margin-right: 40px;
}

.current-item {
  position: relative;
  padding-bottom: 10px;
}

.menu-item:hover,
.menu-item:active,
.current-item {
  color: #149ed8;
}

.current-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #149ed8;
  bottom: 5px;
  left: 0px;
  display: block;
}

.lang-list {
  width: 80px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 40px;
}

.lang-list li:first-of-type {
  position: relative;
  padding-right: 10px;
  color: #149ed8;
}

.lang-list li:last-of-type {
  color: #8c8c8c;
}

.lang-list li:first-of-type::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #8c8c8c;
  top: 0px;
  right: 0px;
}

.search {
  position: relative;
}

.search-form {
  width: 110px;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  position: relative;
  height: 24px;
}

.search input {
  padding: 10px 0px 10px 30px;
  outline: none;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 12px;
}

.promo {
  background-image: url("../img/bgr.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 450px;
  margin: 0 auto;
}

.container h1 {
  width: 310px;
  margin: 0 auto;
  padding: 0;
  color: #ffffff;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  padding-top: 40px;
  margin-bottom: 60px;
}

.slide {
  width: 665px;
  background-color: #ffffff;
  border-radius: 3px;
  opacity: 0.95;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slide h2 {
  font-size: 13px;
  font-weight: 700;
  color: #fab330;
  text-transform: uppercase;
  padding: 35px 20px 20px 20px;
  margin: 0 auto;
  position: relative;
}

.slide1 h2::before {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #fab330;
  display: inline-block;
  margin: 0px 10px 4px 0px;

}

.slide1 h2::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #fab330;
  top: 45px;
  right: 0px;
  display: inline-block;
  margin: 0px 0px 4px 10px;
}



.slide p {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 34px;
  line-height: 42px;
  font-style: italic;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.slider-button {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  width: 190px;
  background-color: #fab330;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  padding: 15px 0px;
  margin: 0 auto;
  margin-bottom: 35px;
  letter-spacing: 2.4px;
}

.slider-wrapper {
  position: relative;
  max-width: 1235px;
  margin: 0 auto;
}

.slider-arrow-left {
  position: absolute;
  display: block;
  width: 27px;
  height: 37px;
  background-color: transparent;
  border: none;
  background-image: url(../img/arrow-left.svg);
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  background-size: contain;
  top: 40%;
  left: 0px;
  z-index: 10;
  cursor: pointer;
  outline: none
  }

.slider-arrow-right {
  position: absolute;
  display: block;
  width: 27px;
  height: 37px;
  background-color: transparent;
  border: none;
  background-image: url(../img/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 40%;
  right: 0px;
  z-index: 10;
  cursor: pointer;
  outline: none
}

.slide2 h2 {
  color: #663399;
}

.slide2 h2::before {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #663399;
  display: inline-block;
  margin: 0px 10px 4px 0px;
}

.slide2 h2::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #663399;
  display: inline-block;
  margin: 0px 0px 4px 10px;
}

.slide3 h2 {
  color: #339999;
}

.slide3 h2::before {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #339999;
  display: inline-block;
  margin: 0px 10px 4px 0px;
}

.slide3 h2::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #339999;
  display: inline-block;
  margin: 0px 0px 4px 10px;
}

.popup {
  width: 1358px;
  background-color: #0066a1;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -679px;

}

.popup p {
  width: 750px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-close {
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  top: 7px;
  right: 270px;
  border: 0;
  background-color: transparent;
  z-index: 85;
}

.popup-close {
  display: none;
}
